In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('89-90.csv', header=[0,1])
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                  Rk             Player                Age                 Tm
0                  1        Keith Acton                 31                PHI
1                  2         Greg Adams                 26                VAN
2                  3         Greg Adams                 29                TOT
3                  3         Greg Adams                 29                DET
4                  3         Greg Adams                 29                QUE

  Unnamed: 4_level_0 Scoring                  ... Special Teams  \
                 Pos      GP   G   A PTS +/-  ...            SH
0                  C      69  13  14  27  -2  ...             2
1                 LW      65  30  20  50  -8  ...             0
2                 LW      35   4  10  14  -2  ...             0
3                 LW      28   3   7  10   0  ...             0
4                 LW       7   1   3   4  -2  ...             0

  Unnamed: 15_level_0 Assists       Shot Data       Ice Time          #NAME?
                   GW      EV PP SH         S    S%      TOI ATOI      -9999
0                   0      14  0  0        94  13.8      NaN  NaN  actonke01
1                   1      14  6  0       181  16.6      NaN  NaN  adamsgr02
2                   0       9  1  0        27  14.8      NaN  NaN  adamsgr01
3                   0       7  0  0        19  15.8      NaN  NaN  adamsgr01
4                   0       2  1  0         8  12.5      NaN  NaN  adamsgr01

[5 rows x 24 columns]

In [ ]:
# see if unique ids in last column transfer between years
def get_totals(df):
    '''
    - Some players are listed multiple times due do trades within season
    - Need to only keep rows where df[Tm] == 'TOT'
    '''